;; shadow-cljs configuration
;; shadow-cljs.edn
{:source-paths ["src"]

 :dependencies
 [[reagent "1.2.0"]] ;; Подключаем Reagent

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules {:main {:init-fn vetsoft.core/init}} ;; Какую функцию запустить на старте
        :build-hooks [(vetsoft.build/generate-html)]
        :devtools {:http-root "public"
                   :http-port 8080}
        :dev-http {:port 8080
                   :root "public"}
        :compiler-options {:optimizations :advanced
                          :closure-defines {goog.DEBUG false}}}}}